---
import SocialIcons from './SocialIcons.tsx'
---

<footer>
  <div class='container pt-9'>
    <div class='flex justify-center mb-9'>
      <SocialIcons />
    </div>
    <div class='text-center p-4'>
      Copyright 2022 © <a class='text-amber-400' href='/'>David Huson</a>
    </div>
  </div>
</footer>
