---
import SocialIcons from './SocialIcons.tsx'
---

<footer class='flex align-middle justify-center '>
  <div class='relative w-screen max-h-min py-10'>
    <!-- bg image -->
    <svg
      id='wave'
      style='transform:rotate(0deg); transition: 0.3s'
      class='absolute left-0 bottom-0 brightness-70 '
      viewBox='0 0 1440 200'
      version='1.1'
      xmlns='http://www.w3.org/2000/svg'
      ><defs
        ><linearGradient id='sw-gradient-0' x1='0' x2='0' y1='1' y2='0'
          ><stop stop-color='rgba(243, 106, 62, 1)' offset='0%'></stop><stop
            stop-color='rgba(255, 179, 11, 1)'
            offset='100%'></stop>
        </linearGradient>
      </defs><path
        style='transform:translate(0, 0px); opacity:1'
        fill='url(#sw-gradient-0)'
        d='M0,20L26.7,33.3C53.3,47,107,73,160,80C213.3,87,267,73,320,60C373.3,47,427,33,480,46.7C533.3,60,587,100,640,110C693.3,120,747,100,800,90C853.3,80,907,80,960,93.3C1013.3,107,1067,133,1120,140C1173.3,147,1227,133,1280,120C1333.3,107,1387,93,1440,103.3C1493.3,113,1547,147,1600,150C1653.3,153,1707,127,1760,96.7C1813.3,67,1867,33,1920,36.7C1973.3,40,2027,80,2080,86.7C2133.3,93,2187,67,2240,70C2293.3,73,2347,107,2400,113.3C2453.3,120,2507,100,2560,90C2613.3,80,2667,80,2720,83.3C2773.3,87,2827,93,2880,100C2933.3,107,2987,113,3040,106.7C3093.3,100,3147,80,3200,63.3C3253.3,47,3307,33,3360,53.3C3413.3,73,3467,127,3520,123.3C3573.3,120,3627,60,3680,53.3C3733.3,47,3787,93,3813,116.7L3840,140L3840,200L3813.3,200C3786.7,200,3733,200,3680,200C3626.7,200,3573,200,3520,200C3466.7,200,3413,200,3360,200C3306.7,200,3253,200,3200,200C3146.7,200,3093,200,3040,200C2986.7,200,2933,200,2880,200C2826.7,200,2773,200,2720,200C2666.7,200,2613,200,2560,200C2506.7,200,2453,200,2400,200C2346.7,200,2293,200,2240,200C2186.7,200,2133,200,2080,200C2026.7,200,1973,200,1920,200C1866.7,200,1813,200,1760,200C1706.7,200,1653,200,1600,200C1546.7,200,1493,200,1440,200C1386.7,200,1333,200,1280,200C1226.7,200,1173,200,1120,200C1066.7,200,1013,200,960,200C906.7,200,853,200,800,200C746.7,200,693,200,640,200C586.7,200,533,200,480,200C426.7,200,373,200,320,200C266.7,200,213,200,160,200C106.7,200,53,200,27,200L0,200Z'
      ></path><defs
        ><linearGradient id='sw-gradient-1' x1='0' x2='0' y1='1' y2='0'
          ><stop stop-color='rgba(243, 106, 62, 1)' offset='0%'></stop><stop
            stop-color='rgba(255, 179, 11, 1)'
            offset='100%'></stop>
        </linearGradient>
      </defs><path
        style='transform:translate(0, 50px); opacity:0.9'
        fill='url(#sw-gradient-1)'
        d='M0,20L26.7,20C53.3,20,107,20,160,16.7C213.3,13,267,7,320,30C373.3,53,427,107,480,133.3C533.3,160,587,160,640,150C693.3,140,747,120,800,123.3C853.3,127,907,153,960,136.7C1013.3,120,1067,60,1120,50C1173.3,40,1227,80,1280,96.7C1333.3,113,1387,107,1440,93.3C1493.3,80,1547,60,1600,53.3C1653.3,47,1707,53,1760,66.7C1813.3,80,1867,100,1920,106.7C1973.3,113,2027,107,2080,93.3C2133.3,80,2187,60,2240,60C2293.3,60,2347,80,2400,76.7C2453.3,73,2507,47,2560,46.7C2613.3,47,2667,73,2720,83.3C2773.3,93,2827,87,2880,96.7C2933.3,107,2987,133,3040,143.3C3093.3,153,3147,147,3200,136.7C3253.3,127,3307,113,3360,120C3413.3,127,3467,153,3520,160C3573.3,167,3627,153,3680,123.3C3733.3,93,3787,47,3813,23.3L3840,0L3840,200L3813.3,200C3786.7,200,3733,200,3680,200C3626.7,200,3573,200,3520,200C3466.7,200,3413,200,3360,200C3306.7,200,3253,200,3200,200C3146.7,200,3093,200,3040,200C2986.7,200,2933,200,2880,200C2826.7,200,2773,200,2720,200C2666.7,200,2613,200,2560,200C2506.7,200,2453,200,2400,200C2346.7,200,2293,200,2240,200C2186.7,200,2133,200,2080,200C2026.7,200,1973,200,1920,200C1866.7,200,1813,200,1760,200C1706.7,200,1653,200,1600,200C1546.7,200,1493,200,1440,200C1386.7,200,1333,200,1280,200C1226.7,200,1173,200,1120,200C1066.7,200,1013,200,960,200C906.7,200,853,200,800,200C746.7,200,693,200,640,200C586.7,200,533,200,480,200C426.7,200,373,200,320,200C266.7,200,213,200,160,200C106.7,200,53,200,27,200L0,200Z'
      ></path><defs
        ><linearGradient id='sw-gradient-2' x1='0' x2='0' y1='1' y2='0'
          ><stop stop-color='rgba(243, 106, 62, 1)' offset='0%'></stop><stop
            stop-color='rgba(255, 179, 11, 1)'
            offset='100%'></stop>
        </linearGradient>
      </defs><path
        style='transform:translate(0, 100px); opacity:0.8'
        fill='url(#sw-gradient-2)'
        d='M0,100L26.7,110C53.3,120,107,140,160,130C213.3,120,267,80,320,76.7C373.3,73,427,107,480,106.7C533.3,107,587,73,640,53.3C693.3,33,747,27,800,36.7C853.3,47,907,73,960,70C1013.3,67,1067,33,1120,26.7C1173.3,20,1227,40,1280,56.7C1333.3,73,1387,87,1440,76.7C1493.3,67,1547,33,1600,40C1653.3,47,1707,93,1760,100C1813.3,107,1867,73,1920,53.3C1973.3,33,2027,27,2080,33.3C2133.3,40,2187,60,2240,56.7C2293.3,53,2347,27,2400,40C2453.3,53,2507,107,2560,110C2613.3,113,2667,67,2720,53.3C2773.3,40,2827,60,2880,73.3C2933.3,87,2987,93,3040,83.3C3093.3,73,3147,47,3200,36.7C3253.3,27,3307,33,3360,53.3C3413.3,73,3467,107,3520,120C3573.3,133,3627,127,3680,126.7C3733.3,127,3787,133,3813,136.7L3840,140L3840,200L3813.3,200C3786.7,200,3733,200,3680,200C3626.7,200,3573,200,3520,200C3466.7,200,3413,200,3360,200C3306.7,200,3253,200,3200,200C3146.7,200,3093,200,3040,200C2986.7,200,2933,200,2880,200C2826.7,200,2773,200,2720,200C2666.7,200,2613,200,2560,200C2506.7,200,2453,200,2400,200C2346.7,200,2293,200,2240,200C2186.7,200,2133,200,2080,200C2026.7,200,1973,200,1920,200C1866.7,200,1813,200,1760,200C1706.7,200,1653,200,1600,200C1546.7,200,1493,200,1440,200C1386.7,200,1333,200,1280,200C1226.7,200,1173,200,1120,200C1066.7,200,1013,200,960,200C906.7,200,853,200,800,200C746.7,200,693,200,640,200C586.7,200,533,200,480,200C426.7,200,373,200,320,200C266.7,200,213,200,160,200C106.7,200,53,200,27,200L0,200Z'
      ></path>
    </svg>
    <div class='relative bottom-0'>
      <div class='flex justify-center mb-5'>
        <SocialIcons />
      </div>
      <div class='text-center'>
        Copyright 2022 © <a class='text-slate-900' href='/'>David Huson</a>
      </div>
    </div>
  </div>
</footer>
