---

const { title, description, permalink, publishDate, ogImageUrl, canonicalURL } =
  Astro.props
---

<html lang='en' class='dark'>
  <head>
    <script>
      const checkbox = document.querySelector('#checkbox')
      const html = document.querySelector('html')

      const toggleDarkMode = () => {
        // eslint-disable-next-line no-unused-expressions
        checkbox.checked
          ? html.classList.add('dark')
          : html.classList.remove('dark')
      }

      // calling the function directly

      toggleDarkMode()
      checkbox.addEventListener('click', toggleDarkMode)
    </script>
  </head>
  <body>
    <main>
      <slot></slot>
    </main>
  </body>
</html>
